<!DOCTYPE html>
<html>
<head>
	<title>Contracker</title>

  <!-- jQuery -->
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>

  <!-- Moment -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>

  <!-- Bootstrap -->
  <script type="text/javascript" src="bootstrap/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

  <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker-standalone.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

  <script>
    var config = {
      apiKey: "AIzaSyCDIUnoCXfw96VgFQT_oHq3Yw8WeUtndfE",
      authDomain: "contracker-51118.firebaseapp.com",
      databaseURL: "https://contracker-51118.firebaseio.com",
      storageBucket: "contracker-51118.appspot.com",
    };
    firebase.initializeApp(config);
  </script>

  <!-- App -->
  <script type="text/javascript" src="app/contracker.js"></script>
  <script type="text/javascript" src="app/contracts/contracts.controller.js"></script>
  <script type="text/javascript" src="app/contracts/contracts.fbservice.js"></script>
  <script type="text/javascript" src="app/contracts/contracts.directives.js"></script>

</head>
<body ng-app="contracker" ng-controller="contractsCtrl as conts">

<div class="container" >
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">

			<p>Ang test: {{1+2}}</p>

				<div >

					<h1>{{conts.pageTitle}}</h1>
					<ul class="list-group">
						<li ng-repeat="(key,contract) in conts.contracts" class="list-group-item"  >
							<span ng-click=conts.getContract(contract.$id) data-toggle="modal" data-target="#viewdetail">{{contract.name}}</span>
              <span aria-hidden="true" class="pull-right" ng-click=conts.deleteContract(contract.$id)>&times;</span>
						</li>
					</ul>
				</div>
		</div>

	</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
    <input type="text" ng-model="conts.newContract.name" placeholder="Role">
    <input type="text" ng-model="conts.newContract.duration" placeholder="Duration">
    <input type="text" ng-model="conts.newContract.dayrate" placeholder="Day Rate">
    <input type="button" class="btn btn-primary" value="Save" ng-click="conts.saveContract()">
    </div>    
  </div>
</div>

<contract-modal></contract-modal>

<script type="text/javascript">
    $(function () {
        $('.datetimepicker').datetimepicker();
    });
</script>








</body>
</html>